.popup__close {
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  background: transparent url('../../../images/close-icon.svg');
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: .5s;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
