.popup__delete-title {
  color: #000;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .popup__delete-title {
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
  }
}
