.profile__image-button {
  position: absolute;
  left: 0;
  top: 0;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-size: cover;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: .3s;
}

.profile__image-button:hover {
  background: url('../../../images/edit-avatar.svg') no-repeat center;
  background-size: 26px;
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}
